*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: NicoFrending;
    src: url("../fonts/ComicRelief-Regular.ttf");
}

body{
    background-image: url("../img/Cielo_Nico.jpg");
    background-position: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*Landing Page/Home Page*/
.headerLogo{
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.navbar ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar li{
    float: left;
    margin: 10px;
}

.navbar a{
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border: solid 5px black;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
}

.navbar a:hover{
    color:black;
    border: solid 2px whitesmoke;
    background-color: whitesmoke;
    border-radius: 5px;
    transition: 0.5s;
}

.image{
    width: 400px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 1rem;
}

.image img{
    height: 100%;
    width: 100%;
}

.avoid{
    margin-top: 1rem;
    text-align: center;
    text-decoration: line-through;
    font-weight: 900;
}

footer span {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}

.foot-content{
    margin-top: 1rem;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: whitesmoke;
    transition: 0.5s;
}

.socials a{
    font-size: 29px;
}

.socials a:hover{
    color: whitesmoke;
    transition: 0.5s;
}

/*About Page*/
.texto-sobre p{
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 25px;
}